.show {
  padding: 0;
}

.contato {
  padding: 40px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 4rem;
  background: #090909;
}

.contato-container {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3rem;
  justify-content: end;
}

.icone img {
  opacity: 0.5;
  width: 70px;
  transition: all ease 0.2s;
}

.icone img:hover {
  opacity: 1;
  cursor: pointer;
}

.icone h4 {
  font-family: exo;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all ease 0.3s;
}

.right-contact h2 {
  font-family: alata;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 7px;
  transition: all ease 0.6s;
}

.right-contact p {
  color: #878787;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: exo;
  max-width: 55ch;
  line-height: 1.5rem;
  transition: all ease 0.6s;
}
.redesocial {
  transition: all ease 9s;
}

@media (max-width: 1150px) {
  .contato {
    gap: 3.5rem;
  }
  .icone img {
    width: 60px;
  }
  .right-contact h2 {
    font-size: 1.4rem;
  }
  .right-contact p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .contato {
    gap: 3rem;
  }
  .contato-container {
    gap: 2.5rem;
  }
  .icone img {
    width: 50px;
  }
  .right-contact h2 {
    font-size: 1.25rem;
  }
  .right-contact p {
    font-size: 0.95rem;
  }
}

@media (max-width: 920px) {
  .contato {
    gap: 3rem;
  }
  .contato-container {
    gap: 2rem;
  }
  .icone img {
    width: 50px;
  }
  .right-contact h2 {
    font-size: 1.25rem;
  }
  .right-contact p {
    font-size: 0.95rem;
  }
}

@media (max-width: 870px) {
  .redesocial {
    display: inline-block;
  }
  .contato {
    gap: 2rem;
  }
  .contato-container {
    gap: 1.8rem;
  }
  .icone img {
    width: 45px;
  }
  .right-contact h2 {
    font-size: 1.1rem;
  }
  .right-contact p {
    font-size: 0.85rem;
  }
  .icone h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 780px) {
  .contato {
    gap: 1.8rem;
  }
  .contato-container {
    justify-items: center;
    gap: 1.8rem;
  }
  .icone img {
    width: 40px;
  }
  .right-contact h2 {
    font-size: 1rem;
  }
  .right-contact p {
    font-size: 0.85rem;
    max-width: 45ch;
  }
  .icone h4 {
    font-size: 0.75rem;
  }
}

@media (max-width: 670px) {
  .contato {
    gap: 1.7rem;
  }
  .contato-container {
    gap: 1.3rem;
  }
  .icone img {
    width: 40px;
  }
  .right-contact h2 {
    font-size: 1rem;
  }
  .right-contact p {
    font-size: 0.8rem;
    max-width: 40ch;
  }
  .icone h4 {
    font-size: 0.75rem;
  }
}

@media (max-width: 580px) {
  .contato {
    gap: 1.7rem;
  }
  .contato-container {
    gap: 1rem;
  }
  .icone img {
    width: 40px;
  }
  .right-contact h2 {
    font-size: 0.93rem;
  }
  .right-contact p {
    font-size: 0.73rem;
    max-width: 35ch;
  }
  .icone h4 {
    font-size: 0.7rem;
  }
}

@media (max-width: 530px) {
  .contato {
    gap: 0.4rem;
  }
  .contato-container {
    gap: 1.5rem;
    justify-content: center;
  }
  .icone img {
    width: 35px;
  }
  .right-contact h2 {
    font-size: 0.9rem;
  }
  .right-contact p {
    font-size: 0.65rem;
    max-width: 40ch;
  }
  .icone h4 {
    display: none;
  }
}

@media (max-width: 500px) {
  .contato-container {
    gap: 30px;
  }
  .contato {
    text-align: center;
    grid-template-columns: 1fr;
    display: grid;
    gap: 10px;
    padding: 20px 0;
  }
  .right-contact h2 {
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
  }
  .contato .right-contact p {
    font-size: 0.7rem;
    line-height: 0.85rem;
    max-width: 90ch;
    padding: 0px 30px 0px 30px;
  }
}
