@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Original+Surfer&family=Playpen+Sans:wght@100..800&display=swap");
* {
  padding: 0;
  margin: 0;
}

.ling {
  color: #eee;
}

body {
  margin: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  background: linear-gradient(
    45deg,
    #464646,
    #464646,
    #111111,
    #111111,
    #464646,
    #464646
  );
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

h1,
h2,
h3,
p {
  margin: 0px;
  color: white;
  transition: all ease 5s;
}

p,
h2 {
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial !important;
    text-transform: capitalize;
  }
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1.1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1.1s;
}
