.introducao {
  padding: 290px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  background: transparent;
}
.introducao h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 20px;
  justify-content: center;
  color: white;
  transition: all ease 2s;
}
.front {
  line-height: 0;
  font-size: 3rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #07d8d8, white, #07d8d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease 2s;
}
.redes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 22px;
  transition: all ease 2s;
}
.git,
.link,
.btn-cv {
  width: 50px;
  transition: all ease 0.3s;
}
.git:hover,
.link:hover,
.btn-cv:hover {
  transform: scale(1.3);
  background: transparent;
  transition: all ease 0.3s;
}
.btn-cv:hover {
  transform: scale(1.25);
  transition: all ease 0.3s;
}
.introducao p {
  font-size: 1.2rem;
  color: #525252;
  transition: all ease 2s;
}
@media (max-width: 1150px) {
  .introducao {
    margin: 0 70px;
    gap: 50px;
  }
  .introducao h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .front {
    font-size: 2.5rem;
  }
  .git,
  .link,
  .btn-cv {
    width: 45px;
  }
}
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 2.5rem;
    line-height: 3.7rem;
  }
  .front {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 900px) {
  .introducao h1 {
    font-size: 2.2rem;
    line-height: 3.3rem;
    margin-bottom: 10px;
  }
  .front {
    font-size: 2rem;
    line-height: 3rem;
  }
  .git,
  .link,
  .btn-cv {
    width: 40px;
  }
}
@media (max-width: 800px) {
  .introducao h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .front {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .git,
  .link,
  .btn-cv {
    width: 35px;
  }
}
@media (max-width: 750px) {
  .introducao h1 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .front {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .git,
  .link,
  .btn-cv {
    width: 32px;
  }
}
@media (max-width: 660px) {
  .introducao h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .front {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .git,
  .link,
  .btn-cv {
    width: 30px;
  }
}
@media (max-width: 450px) {
  .introducao {
    padding: 170px 0 0;
    gap: 90px;
  }
}
.introducao .maycon {
  display: none;
}
.introducao h1::before {
  width: 30px;
  height: 10px;
  left: -1px;
}
