.Maycon {
  margin: 5px 70px;
  padding: 150px 0px 230px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  background: transparent;
  border-radius: 4px;
  transition: all ease 3s;
}

.sobremim-titulo {
  font-size: 4rem;
  color: white;
  padding-bottom: 50px;
  text-transform: uppercase;
  z-index: 2;
  font-family: alata;
  transition: all ease 3s;
}

.Maycon .imgmaycon {
  width: 400px;
  position: relative;
  animation: flutuar 1.3s ease-in-out infinite alternate;
  transition: all ease 3s;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.Maycon h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/Group 1.png") no-repeat center;
  position: relative;
  top: 85px;
  left: -45px;
  z-index: -1;
  transition: all ease 3s;
}

.sobremim-texto {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-family: exo;
  line-height: 1.3;
  font-weight: 400;
  max-width: 50ch;
  color: white;
  transition: all ease 3s;
}

.sobremim-geral {
  display: flex;
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: all ease 3s;
}

@media (max-width: 1300px) {
  .Maycon {
    gap: 120px;
    padding: 80px 0 300px 0;
  }
  .Maycon .imgmaycon {
    width: 350px;
  }
  .sobremim-titulo {
    font-size: 3rem;
  }
  .sobremim-texto {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .Maycon {
    gap: 110px;
  }
  .Maycon .imgmaycon {
    width: 320px;
  }
  .sobremim-titulo {
    font-size: 2.5rem;
  }
  .sobremim-texto {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .Maycon {
    gap: 100px;
    padding: 10px 0 250px 0;
  }
  .Maycon .imgmaycon {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .Maycon {
    gap: 90px;
  }
  .Maycon .imgmaycon {
    width: 280px;
  }
}

@media (max-width: 800px) {
  .Maycon {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .Maycon .imgmaycon {
    width: 350px;
  }
  .sobremim-titulo {
    font-size: 2.7rem;
  }
  .sobremim-texto {
    font-size: 1.3rem;
  }
  .Maycon h1::before {
    top: 70px;
    left: -30px;
  }
}

@media (max-width: 450px) {
  .Maycon {
    padding: 100px 0;
  }
  .Maycon .imgmaycon {
    width: 280px;
    margin-bottom: 10px;
  }
  .sobremim-titulo {
    font-size: 2rem;
  }
  .Maycon h1::before {
    top: 75px;
  }
  .sobremim-texto {
    font-size: 1.2rem;
  }
}
